.nft-preview {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
    display: flex;

    &:hover {
        box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.5);
    }

    &:last-child {
        margin-bottom: 0;
    }

    & > * {
        width: 100%;
    }

    transition: box-shadow 0.25s ease;
}

.priced {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--border-light);
	background-color: var(--bg-primary);
}
.prz-msg-wrapper {
    width: 90%;
}

.prz-dia-wrapper {
    padding-right: 1em;
}

.fuck-you-border {
    border: none;
}