.nftbutton {
    font-weight: 600;
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    transition: text-shadow 0.25s;
    cursor: pointer;

    &:disabled {
        background-color: var(--wordle-grey-dark);
        cursor: not-allowed;

        &:hover {
            text-shadow: none;
        }
    }
}

.nbw {
    color: var(--blue-opensea);
    border: 3px solid var(--blue-opensea);
}

.nbb {
    background-color: var(--blue-opensea);
    color: #FFF;
    border: 3px solid #FFFFFF00;
}

.nbw:hover {
    text-shadow: var(--blue-opensea) 0px 0px 5px;
}

.nbb:hover {
    text-shadow: #FFF 0px 0px 5px;
}