@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.dchighlight {
    background-color: rgba(111, 120, 219, 0.3); 
    color: rgb(226, 228, 247);
}

// #head * {
//     background-color: #FCC !important;
// }
h1 {
    font: 600 30px Poppins, sans-serif;
    margin-bottom: 5px;
}

#head {
    font-family: Poppins, sans-serif;
    margin: -5px 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#head > * {
    margin: 15px;
}

.author {
    font: 300 17px / 21px Poppins, sans-serif;
}

.message {
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #36393e;
    color: rgb(220, 221, 222);
    grid-column: 1 / -1;
}

a {
    color: #2081e2;
    text-decoration: none;
}


.nftbutton {
    border-radius: 10px;
    font: 600 15px Poppins;
    padding: 10px;
    width: 180px;
    color: #2081e2;
    outline: #2081e2 solid 2px;
    transition: text-shadow 0.25s;
}
.nftbutton:hover {
    text-shadow: #2081e2 0px 0px 5px;
}