.user-page {
    padding: 1em;
    margin: 0 4rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 1 0 auto;
}

.user-header {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.avatar {
    display: inline-flex;
    margin-right: 0.25em;
}

.discriminator {
    opacity: 0.625;
}

.balance {
    margin-left: 0.25em;
    display: flex;
}

.nfts {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    padding: 0.5rem;
    border-radius: 0.25rem;
	border: 1px solid var(--border-light);
}

.nft-preview {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00);
    display: flex;
    margin-bottom: 1em;

    &:hover {
        box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.5);
    }

    &:last-child {
        margin-bottom: 0;
    }

    & > * {
        width: 100%;
    }

    transition: box-shadow 0.25s ease;
}

.paginator {
    display: inline-flex;
    vertical-align: middle;
    gap: 0.5em;
}

.page-button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--blue-opensea);
    color: white;
    cursor: pointer;
    border: none;

    &:disabled {
        background-color: var(--wordle-grey-dark);
        cursor: not-allowed;
    }
}